<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->

    <include file="$(find burger_navigation)/launch/burger_navigation.launch"/>

    <!-- sample program node -->

    <node pkg="burger_war" type="MyRobot.py" name="myrobot" output="screen"/>

    <!-- END sample program node -->


    <!-- End of your space  -->
</launch>

